

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    direction: rtl;
}

.container{
    width:90%;
    max-width:1100px;
    margin:auto;
}

header{
    background:#111;
    padding:15px 0;
}

.nav{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo{
    color:#fff;
}

.nav ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.nav a{
    color:#fff;
    text-decoration:none;
}

.hero{
    background:#f4f4f4;
    padding:60px 0;
}

.hero-content{
    display:flex;
    align-items:center;
    justify-content:space-between;
    gap:40px;
}

.hero img{
    width:350px;
    border-radius:10px;
}

.btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#007bff;
    color:#fff;
    text-decoration:none;
    border-radius:5px;
}

.section{
    padding:60px 0;
}

.about{
    display:flex;
    align-items:center;
    gap:40px;
}

.about img{
    width:300px;
    border-radius:10px;
}

.center{
    text-align:center;
    margin-bottom:30px;
}

        /* ================= SKILLS ================= */

   .skills {
            padding: 60px 20px;
            background: #f4f4f4;;
        }

        .skills h2 {
            text-align: center;
            margin-bottom: 40px;
        }

        .skill {
            margin-bottom: 20px;
        }

        .skill span {
            display: blcok;
            margin-bottom: 5px;
        }

        .skill-bar {
            background: #ddd;
            width: 50%;
            height: 25p;
            border-radius: 20px;
            overflow: hidden;
        }

        .skill-fill {
            height: 100%;
            background: #2196f3;
            text-align: left;
            padding-left: 10px;
            color: #fff;
            line-height: 25px;
            font-size: 14px;
        }
.card{
    background:#eee;
    padding:20px;
    text-align:center;
    border-radius:8px;
}


.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.project-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  text-align: center;
  padding-bottom: 15px;
  padding: 30px 20px;
  min-height: 150px;
 transition: 0.7s ease;
}

.project-card:hover {
    transform: scale(1.1)
}

.project-card img {
  width: 100%;
  height: auto;
  display: block;
}


.contact-form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:500px;
    margin:auto;
}

.contact-form input,
.contact-form textarea{
    padding:10px;
    border:1px solid #ccc;
    border-radius:5px;
}

.contact-form button{
    padding:10px;
    border:none;
    background:#007bff;
    color:#fff;
    border-radius:5px;
}

footer{
    background:#111;
    color:#fff;
    text-align:center;
    padding:15px 0;
}

/* Responsive */
@media(max-width:768px){
    .hero-content,
    .about{
        flex-direction: column;
        text-align:center;
    }
}